<body>
   <div class="container-fluid">
       <div class="row">
        <div class="col-md-12 image">
            <img src="https://png.pngtree.com/thumb_back/fh260/back_pic/03/69/42/6857b4809a1f944.jpg" alt="image">
        </div>
          
       </div>
       <div class="row">
           <div class="col-md-12 content">
              <h3 class="text-center">/About</h3>
                The home furnishings industry's premier furniture trade publication, FURNITURE WORLD provides a cost effective way to reach an extensive retail subscriber base in the US and Canada.
            
                FURNITURE WORLD is designed to achieve long shelf life and maximum response for advertisers who are manufacturers of home furnishings products and suppliers of services to home furnishings retailers.
                
                FURNITURE WORLD is read, not skimmed. That is why the magazine appeals to its target readers who are the owners, managers and buyers in retail furniture stores. These executives are looking for ways to market their products better and create store operating efficiencies.
                
                FURNITURE WORLD is the oldest, continuously published trade publication in the United States. In 1970, the magazine established and endowed the Bernice Bienenstock Furniture Library (www.furniturelibrary.com) in High Point, NC, now a public foundation containing more than 8,000 books on furniture and design dating from 1540.
                
                In April 2010, FURNITURE WORLD Magazine published its milestone 140th year anniversary issue that contained a history of the US furniture industry.
               
           </div>
       </div>
   </div>
</body>
